@charset"utf-8";
main{
  position: relative;
  width : 90%;
  height : 1250px;
  margin : 75px auto;
}
.chairs{
  clear : both;
  width : 100%;
  color : #fff;
}
.settings{
  float : left;
  width : 25%;
  height : 756px;
  border : solid 10px #a1a1aa;
}
.inner{
  width : 100%;
  background: #100959;
}
.settings .inner{
  box-sizing:border-box;
  height : 756px;
  padding : 40px 20px;
}
.price_list{
  margin-bottom: 50px;
}
.price_box{
  border-top : dashed 2px #fff;
  text-align: left;
  vertical-align: middle;
  padding : 25px 20px;
  box-sizing: border-box;
  position: relative;
}
.last{
  border-bottom : dashed 2px #fff;
}
.price_box .price{
  margin-left : 30px;
  text-align: right;
}
.price_box .plus,.price_box .minus{
  float : right;
}
.price_box .btn{
  width : 30px;
  height : 30px;
  text-align: center;
  line-height: 30px;
  position: absolute;
}
.plus .btn{
  font-size : 16px;
  background: orange;
  border-radius: 3px;
  margin-left : 10px;
  top : 18px;
  right : 20px;
}
.minus .btn{
  font-size : 16px;
  background: grey;
  border-radius: 3px;
  top : 18px;
  right : 60px;
}
.sum{
  width : 100%;
  height : 184px;
  color : #333;
  background : #fff;
  border-radius: 5px;
  margin-bottom: 50px;
  padding: 20px;
  box-sizing: border-box;
}
.sum_ticket{
  height: 70px;
  border-bottom : 2px dashed #333;
}
.sum_ticket h4{
  font-size : 18px;
  margin-bottom : 10px;
}
.sum_ticket h3{
  font-size : 18px;
  text-align: right;
}
.sum_ticket h3 .num{
  font-size : 24px;
  color : red;
  margin-right: 5px;
}
.sum_price{
  margin-top : 20px;
  height : 70px;
}
.sum_price h4{
  font-size : 18px;
  margin-bottom: 10px;
}
.sum_price h3{
  font-size : 18px;
  text-align: right;
}
.sum_price h3 .num{
  font-size : 24px;
  color : red;
  margin-right : 5px;
}
.selectbtn{
  width: 100%;
  height : 50px;
  background: orange;
  line-height: 50px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
}
.selectbtn p:before{
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 14px;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 16px;
  right: 15px;
}
.select{
  float : right;
  width : 68%;
  height : 900px;
  border : solid 10px #a1a1aa;
  margin-bottom: 50px;
}
.select .inner{
  padding : 40px 20px;
  height : 900px;
  box-sizing: border-box;
}
.screen{
  margin : 0 auto;
  width : 600px;
  height : 60px;
  line-height: 60px;
  font-size : 28px;
  font-weight: bold;
  border-radius: 3px;
  text-align: center;
  background: #9894b9;
  margin-bottom : 75px;
}
.chair{
  width : 100%;
}
.line_a{
  width : 100%;
  height : 30px;
}
.line_a li{
  float : left;
  width : 30px;
  height : 30px;
}
.selected{
  clear: both;
  width : 100%;
  height : 300px;
  background : #100959;
  border : solid 10px #a1a1aa;
}