@charset"utf-8";

*{
	margin : 0;
	padding : 0;
}
body{
	width : 1000px;
	margin : 0 auto;
}
body{
	position : relative;
	text-align: center;
}
header{
	height : 160px;
}

.content{
	width:auto;
	padding-bottom: 100px;
	margin-top: 80px;
	background-color: #eee;
}



.h1 {
	float: left;
	padding: 20px;
}

.ptitle1{
	clear: left;
	padding: 0 0 10px 60px;
	text-align: -webkit-left;
	width: 100%;

}

.ptitle{
	clear: left;
	text-align: -webkit-left;
	width: 100%;
	padding: 0 0 10px 100px;
}

.logoh1{
	float: left;
	padding: 0 0 10px 60px;
}

.underline{
	border-bottom: 2px solid #ff8000;
}

.underline2{
	border-bottom: 2px solid #b49d6d;
	width:850px;
	margin:0 auto;
}

.upload{
	font-size:20px;
	width:200px;
	height:50px;
	background-color:#ff7a19;
	color:white;
}

.cancel{
	font-size: 20px;
	width:200px;
	height:50px;
	background-color:#ff7a19;
	color:white;
}

table {
	margin: 0 auto;
}

.form {
width: 980px;
margin: 0 auto;
}

.select {
	width: 300px;
}

.check {
	width: 400px;
	height:100px;
}

th{
	border-top: 1px solid #b49d6d;
	background-color:#eee;
	text-align: center;
	padding: 20px;
}
td{
	border-top: 1px solid #b49d6d;
		background-color:#eee;
	line-height: 150%;
	width: 400px;
}
.tbox{
	width: 150px;
	border:solid 1px #b49d6d;
	box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.2);
	font-size: 1.2em;
	font-family:Arial, sans-serif;
}

.tbox2{
	width: 300px;
}
.border{
	margin-right:3px;
	border-color: #b49d6d;
}

.righttext {
	text-align: left;
}


.button {
	padding-top: 300px;
}
