@charset"utf-8";
*{
  margin : 0;
  padding : 0;
}
main{
  position: relative;
  width : 1000px;
  height : 1500px;
  background :#111;
  margin : 50px auto;
}
.schedule{
  background : #fff;
  width : 1000px;
  height : 1500px;
  padding  : 12.5px;
  margin : 0;
}
.schedule_header{
  width : 1000px;
  height : 372px;
}
.left_column{
  float : left;
  width : 605px;
  margin-right: 30px;
}
.place{
  width : 575px;
  height : 50px;
  background : #96d2ea;
  padding : 10px 10px 10px 20px;
}
.place img{
  float : left;
  margin-right : 50px;
}
.place h2{
  font-size : 18px;
  float : left;
  line-height: 50px;
}
.place .border{
  margin-top : 5px;
  margin-left : 50px;
  float : left;
  width : 1px;
  height : 40px;
  background: #333;
}
.place .right{
  margin-left : 50px;
}
.place_news{
  clear: both;
  border-top : 3px solid #e5735f;
  margin-top : 20px;
  padding : 10px;
  width : 585px;
}
.place_news .n_title{
  float : left;
  font-weight: bold;
}
.place_news  .n_list{
  float : right;
}
.place_news  .n_list span{
  font-weight: bold;
  color : #e5735f;
}
.place_news ul{
  padding-top : 15px;
  padding-left : 10px;
  clear: both;
}
.place_news ul li{
  letter-spacing: 2px;
  line-height: 1.5;
  font-size : 12px;
}
.place_news ul li a{
  margin-left: 5px;
  color : #333;
  text-decoration: underline;
}
.banner{
  clear: both;
  margin-top: 6px;
  width : 100%;
  height : 150px;
  background : #eeb996;
  text-align: center;
  font-size: 20px;
  line-height: 150px;
}
.right_column{
  float: right;
  width : 363px;
}

.right_column .theater_map{
  clear: both;
  width : 100%;
  height : 206px;
  background: #eeb996;
  text-align: center;
  font-size : 20px;
  line-height: 200px;
}
.right_column .theater_map2{
  clear: both;
  width : 100%;
  height : 249px;
  background: #eeb996;
  text-align: center;
  font-size : 20px;
  line-height: 249px;
}
.right_column .access_info{
  clear: both;
  margin-top : 16px;
  width : 100%;
  height : 150px;
  text-align: center;
  line-height: 150px;
  font-size : 20px;
  background : #eeb996;
}
.schedule_days{
  clear: both;
  margin-top : 30px;
  width : 96%;
  height : 1045px;
  background : #aaa;
  padding : 20px;
}
.schedule_days .days{
  width : 100%;
  height : 60px;
  margin-bottom : 20px;
}
.schedule_days  .days .select_day{
  float : left;
  width : 35%;
  background-color: #fff;
  height : 60px;
  line-height: 60px;
}
.schedule_days  .days  .select_day p{
  padding-left: 20px;
  font-weight: bold;
  font-size : 18px;
}
.schedule_days  .days  .another_day{
  float : right;
  width : 62%;
  height : 60px;
  background-color: #fff;
}
.schedule_days  .days .another_day p{
  float : left;
  line-height: 60px;
  font-size  : 14px;
  font-weight: bold;
  padding-left : 20px;
  padding-right: 20px;
}
.schedule_days .days  .another_day ul li{
  float: left;
  font-size : 12px;
  line-height: 60px;
}
.schedule_days  .days .another_day ul li span{
  margin-left : 5px;
  margin-right : 5px;
  font-weight: bold;
}
.schedule_days .attention{
  clear: both;
  width : 100%;
  height : 80px;
  margin-top : 20px;
  background-color: #fff;
}
.schedule_days .attention p{
  float : left;
  font-size : 18px;
  font-weight: bold;
  line-height: 80px;
  padding-left : 50px;
  width : 100px;
}
.schedule_days .attention ul{
  float : right;
  width : 770px;
  font-size : 12px;
  line-height: 20px;
  padding : 10px;
}
.schedule_days .attention ul li span{
  margin-right: 10px;
}
.schedule_days .schedule_list{
  clear: both;
  margin-top : 30px;
  width: 100%;
  height : auto;
}
.schedule_days .schedule_list .schedule_movie{
  width: 100%;
  height : 200px;
  background : #fff;
}
.schedule_days .schedule_list .schedule_movie ul{
  width: 100%;
}
.schedule_days .schedule_list .schedule_movie ul li{
  width: 100%;
  margin-bottom : 15px;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_title{
  width : auto;
  height: 25px;
  background : #333;
  color : #fff;
  padding : 10px 20px 10px 20px;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_title p{
  float : left;
  font-size : 20px;
  line-height: 25px;
  text-decoration: underline;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_title small{
  font-size : 12px;
  float: right;
  line-height: 25px;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box{
  clear: both;
  width : auto;
  height : 155px;
  background : #fff;
  border-left : solid 2px #333;
  border-bottom : solid 2px #333;

}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .movie_image{
  float : left;
  width : 146px;
  height : 106px;
  padding : 29px 20px 20px 20px;
  border-right : solid 2px #333;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .movie_image img{
  width : 146px;
  height : auto;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .time_list{
  float : left;
  width : 152px;
  height: 155px;
  border-right : solid 2px #333;
  text-align: center;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .time_list .movie_time{
  background : #00387f;
  color : #fff;
  font-size : 18px;
  height : 30px;
  line-height: 30px;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .time_list .screen{
  background : #0060ff;
  color : #fff;
  font-size : 12px;
  letter-spacing: 1px;
  height : 20px;
  line-height: 20px;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .time_list .options{
  text-align: left;
  margin : 5px;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .time_list .options img{
  width : 40px;
  height : auto;
}
.schedule_days .schedule_list .schedule_movie ul li .movie_box .time_list .button{
  margin : 40px auto 0px auto;
  width : 95%;
  height : 40px;
  line-height: 40px;
  background : #ffab00;
  color : #333;
  font-weight: bold;
}
.movie_list{
  clear: both;
  padding-top: 50px;
  width : 100%;
  height : auto;
}
.movie_list .tab_contents{
  width : 60%;
}
.movie_list .tab_contents .now{
  float : left;
  width : 50%;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.tab_selected{
  background-color: #eeb996;
  padding : 20px 0;
}
.non_selected{
  background-color: #ddd;
  padding : 7px 0;
  margin-top: 26px;
}
.now_lists{
  display: block;
}
.will_lists{
  display: none;
}
.movie_list .tab_contents .will{
  float : right;
  width : 50%;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
.movie_list .lists{
  clear: both;
  border : solid 10px #eeb996;
}
.movie_list .lists ul{
  width : 100%;
  height : auto;
}
.movie_list .lists ul li{
  width : 100%;
  height : 200px;
  clear: both;
  border-bottom: solid 10px #eeb996;
}
.movie_list .lists ul li:last-child{
  border-bottom : none;
}
.movie_list .lists ul li .poster{
  float : left;
  width : 28%;
  height : 180px;
  border-right : solid 10px #eeb996;
  padding : 10px;
  margin: 0;
}
.movie_list .lists ul li .poster img{
  width : 274px;
  height : auto;
}
.movie_list .lists ul li .movie_detail{
  width : 675.609px;
  height : 180px;
  float : right;
  margin: 0;
}
.movie_list .lists ul li .movie_detail .movie_name{
  border-bottom : solid 10px #eeb996;
  padding : 10px 10px 10px 20px;
  text-decoration: underline;
}
.movie_list .lists ul li .movie_detail .movie_name a{
  color : #333;
}
.movie_list .lists ul li .movie_detail .theater_confirm{
  padding : 10px 20px 10px 20px;
}
.movie_list .lists ul li .movie_detail .theater_confirm .confirm_btn{
  background-color : #cdcdcd;
  width : 100%;
  height : 45px;
  text-align: center;
  line-height: 45px;
  font-size : 16px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 15px;
}
.movie_list .lists ul li .movie_detail .theater_confirm .confirm_btn:hover{
  opacity: 0.8;
}
.movie_list .lists ul li .movie_detail .theater_confirm .attention{
  width : 100%;
  height : 45px;
  line-height: 1.7;
  font-size : 14px;
  letter-spacing: 1px;
  margin-bottom: 2px;
}

.movie_list .lists ul li .movie_detail .theater_confirm small{
  width : 100%;
  height : 45px;
  text-align: center;
  line-height: 45px;
  font-size : 12px;
  letter-spacing: 1px;
}
.movie_list .next_lists{
  margin-top: 32.5px;
  clear: both;
  height : 30px;
  float : right;
}
.movie_list .next_lists ul{
  width : 100%;
  height : 30px;
}
.movie_list .next_lists ul li{
  float : left;
  width : 20px;
  height : 20px;
  text-align: center;
  line-height: 20px;
  background-color : #aaa;
  border-radius: 5px;
  border : solid 2px #eee;
  margin-right: 5px;
}
.movie_list .next_lists ul li:last-child{
  margin-right: 0px;
  background-color: #333;
}
.movie_list .next_lists ul li:hover{
  background-color: #333;
}
.movie_list .next_lists ul .selected{
  background-color: #333;
}
