@charset"utf-8";

*{
	margin : 0;
	padding : 0;
}
body{
	width : 1000px;
	margin : 0 auto;
}
body{
	position : relative;
	text-align: center;
}
header{
	height : 160px;
}

.content{
	width:auto;
	padding-bottom: 30px;
	background-color: #eee;
}

form{
	width: 100%;
}

table{
	width: 100%;
	border: solid #000 1px;
}

th{
	border: solid #000 1px;
}

tr{
	border: solid #000 1px;
}

td{
	border: solid #000 1px
}

td img{
	text-align: center;
	border: solid #000 1px;
	padding-top: 20px;
}

.ptitle1{
	margin-top: 60px;
	text-align: -webkit-left;
	width: 100%;

}

.ptitle{
	text-align: -webkit-left;
	width: 100%;

}

.underline{
	border-bottom: 2px solid #ff8000;
}

.underline2{
	border-bottom: 1px solid #bebebe;
	padding-bottom: 10px;
}

.logoh1{
	text-align: center;
	float: center;
	padding-bottom: 30px;

}

.upload{
	font-size:20px;
	width:200px;
	height:50px;
	background-color:#209cb7;
	color:white;
}

.cancel{
	font-size: 20px;
	width:200px;
	height:50px;
	background-color:#ff7a19;
	color:white;
}


.newform_name{
	float: left;
	padding:  0 20px;
}

.newform_text{
	display: block;
	text-align: right;
	width: 800px;
}
