@charset"utf-8";
*{
	margin : 0;
	padding : 0;
	text-decoration: none;
}
body{
	width : 1000px;
	margin : 0 200px;
	font-family:'Open Sans',sans-serif;
}
header{
	height : 160px;
}
header img{
	width : 160px;
	height : 160px;
}
fieldset{
  width:400px;
  margin:0 auto;
  margin-top:8px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
	position: relative;
}
h1{
  background:#666;
  padding:20px 0; /*PADDING TODOS OS LADOS DE 20PX*/
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}
form{
  background:#f0f0f0;
  padding:6% 4%;
}
input[type="password"]{
  width:69%;
  height:19px;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4% 4% 4% 4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
	position: absolute;
	top : 152px;
	left : 73px;
}
.iconPassword{
  width:20px;
  height:20px;
	margin-right : 1.45%;
  background-color:#666;
  padding:4% 4% 4% 4%;
	float : left;
  margin-bottom:4%;
  background-repeat:no-repeat;
   background-image:url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f09c-32.png);
  background-position:center;
  border:1px solid #ccc;
}
.iconUser{
  width:20px;
  height:20px;
  background-color:#666;
  float:left;
  padding:4% 4% 4% 4%;
  margin-bottom:4%;
  background-repeat:no-repeat;
   background-image:url(https://cdn4.iconfinder.com/data/icons/font-awesome-2/2048/f007-32.png);
  background-position:center;
  border:1px solid #ccc;
}
input[type="text"]:first-child{
  width:76%;
  height:20px;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4% 4% 4% 4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}
input[type="text"]:nth-child(2){
  width:76%;
  height:20px;
  margin-bottom:4%;
  border:1px solid #ccc;
  padding:4% 4% 4% 4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
	float : right;
}
input[type="submit"]{
  width:100%;
  background:#666;
  border:0;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:100%;
  color:#fff;
  cursor:pointer;
  transition:background .3s;
  -webkit-transition:background .3s;
}

#forget{
	color : #ff7a19;
	font-weight: lighter;
	position : absolute;
	top : 209px;
	right : 15px;
	font-size : 14px;

}

#enter{
	margin-top : 10px;
}

input[type="submit"]:hover{
  background:#999;
}
::-webkit-input-placeholder {

}
