@charset"utf-8";

*{
	margin : 0;
	padding : 0;
}
body{
	width : 1000px;
	margin : 0 auto;
}
body{
	position : relative;
	text-align: center;
}
header{
	height : 160px;
}
header img{
	position: absolute;
	top : 0;
	left : 10px;
}

.conf{
	text-align: left;
	padding: 20px 0 0 10px;
	font-size: 26px;
}

.conf2{
	text-align: center;
	font-size: 20px;
	padding: 30px;
}

h1{
	text-align: center;
	padding: 10px;
}
.content{
	width:auto;
	padding-bottom: 30px;
	border: solid #000 1px;
}

.content2{
	width:auto;
	padding-bottom: 30px;

}

table{
	width: 900px;
	border: solid #000 1px;
	border-collapse:collapse;
	margin: 60px auto;
}
th,td{
	padding:10px;
	border: solid #000 1px;
	font-size: 20px;
}


tr{
	border: solid #000 1px;
}


td img{
	text-align: center;
	border: solid #000 1px;
	width: 220px;
	height: 200px;
}

.showset1{
	width: 600px;
	height: 200px;
}

.showset{
	width: 600px;
}

.boxContainer{
	margin-left: 60px;
	margin-right: 60px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	}

/* ClearFix */
.boxContainer:before
.boxContainer:after{
	content: "";
	display: table;
}

.boxContainer:after{
	clear: both;
}

.upload{
	font-size:15px;
	width:200px;
	height:50px;
	background-color:#209cb7;
	color:#fff;
	border-style: none;
	margin-right: 30px;
	margin-bottom: 40px;
}

.cancel{
	font-size: 15px;
	width:200px;
	height:50px;
	background-color:#209cb7;
	color:#fff;
	border-style: none;
	margin-top: 50px;
}
