@charset"utf-8";

*{
	margin : 0;
	padding : 0;
}


.thumb {
	 height: 75px;
	 border: 1px solid #000;
	 margin: 10px 5px 0 0;
 }


.ii {
	position: absolute;
	top: 765px;
	left: 530px;
}


body{
	width : 1000px;
	margin : 0 auto;
}
body{
	position : relative;
	text-align: center;
}
header{
	height : 160px;
}

h1{
	text-align: left;
	padding: 20px 0 0 10px;
}

header img{
	position: absolute;
	top : 0;
	left : 10px;
}

.content{
	width:auto;
	padding-bottom: 30px;
	border: solid #000 1px;
}

.s{
	text-align: left;
	padding-left: 70px;
	padding-top: 10px;
	font-size: 20px;
}

table{
	width: 700px;
	border: solid #000 1px;
	border-collapse:collapse;
	margin: 60px auto;
}

th,td{
	padding:10px;
	border: solid #000 1px;
	font-size: 20px;
}


tr{
	border: solid #000 1px;
}


td img{
	text-align: center;
	border: solid #000 1px;
	width: 220px;
	height: 200px;
}


.upload{
	font-size:15px;
	width:120px;
	height:50px;
	background-color:#209cb7;
	color:#fff;
	border-style: none;
	margin-right: 30px;
	margin-bottom: 40px;
}

.upload2{
	font-size:15px;
	width:200px;
	height:50px;
	background-color:#209cb7;
	color:#fff;
	border-style: none;

}

.cancel{
	font-size: 15px;
	width:100px;
	height:20px;
	background-color:#ff7a19;
	color:#fff;
	border-style: none;
	float: right;
}



.upload_conf{
	font-size:15px;
	width:200px;
	height:50px;
	background-color:#209cb7;
	color:#fff;
	border-style: none;
	margin-right: 80px;

}

.cancel_conf{
	font-size: 15px;
	width:200px;
	height:50px;
	background-color:#ff7a19;
	color:#fff;
	border-style: none;
}


.upload_comp{
	font-size:15px;
	width:200px;
	height:50px;
	background-color:#209cb7;
	color:#fff;
	border-style: none;
	margin-right: 80px;
	margin-top: 60px;

}

.cancel_comp{
	font-size: 15px;
	width:200px;
	height:50px;
	background-color:#ff7a19;
	color:#fff;
	border-style: none;
}


.sakuhin{
	height: 200px;
}
