@charset"utf-8";

*{
	margin : 0;
	padding : 0;
}
body{
	width : 1000px;
	margin : 0 auto;
}
body{
	position : relative;
	text-align: center;
}

h1{
	text-align: left;
	padding: 20px 0 0 10px;
}

header{
	height : 160px;
}
header img{
	position: absolute;
	top : 0;
	left : 10px;
}

.content{
	width:auto;
	padding-bottom: 30px;
	border: solid #000 1px;
}



table{
	width: 700px;
	border: solid #000 1px;
	border-collapse:collapse;
	margin: 60px auto;
}

th,td{
	padding:10px;
	border: solid #000 1px;
	font-size: 20px;
}


tr{
	border: solid #000 1px;
}



td img{
	text-align: center;
	border: solid #000 1px;
	width: 220px;
	height: 200px;
}

p{
	padding: 10px;
}
.check{
	font-size: 20px;
}

.box{
	display: inline-block;
}

.boxContainer{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	}

/* ClearFix */
.boxContainer:before
.boxContainer:after{
	content: "";
	display: table;
}

.boxContainer:after{
	clear: both;
}

.upload{
	font-size:15px;
	width:200px;
	height:50px;
	background-color:#209cb7;
	color:#fff;
	border-style: none;
	margin-right: 50px;
	padding-top: 20px;
	padding-bottom: 30px;
}


.cancel{
	font-size: 15px;
	width:200px;
	height:50px;
	background-color:#ff7a19;
	color:#fff;
	border-style: none;
	padding-top: 20px;
	padding-bottom: 30px;
}
