@charset"utf-8";

*{
	margin : 0;
	padding : 0;
}
body{
	width : 1000px;
	margin : 0 auto;
}
body{
	position : relative;
	text-align: center;
}
header{
	height : 160px;
}
header img{
	position: absolute;
	top : 0;
	left : 100px;
}

.content{
	width:auto;
}

form{
	width: 100%;
}

table{
	width: 100%;
	border: solid #000 1px;
}

th{
	border: solid #000 1px;
}

tr{
	border: solid #000 1px;
}

td{
	border: solid #000 1px
}

td img{
	text-align: center;
	border: solid #000 1px;
}



#button {

	margin-left: 300px;

  width:250px;

	float: left;

  color:#e4eef8;

  background:#337fcc;

  font-size:20px;

  font-weight:bold;

  text-shadow:0 -1px 1px #143352;

  text-align:center;

  display:block;

  text-decoration:none;

  border:1px solid #225588;

  padding:12px 0 8px 0;

  border-radius:12px;

  background:-moz-linear-gradient(rgba(34,85,136,0.5), rgba(34,85,136,1));

  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(34,85,136,0.5)), to(rgba(34,85,136,1)));

  box-shadow:0px 1px 0px #1b446d,

             0px 2px 0px #1b446d,

             0px 3px 0px #1b446d,

             0px 4px 0px #1b446d,

             0px 5px 0px #1b446d,

             0px 6px 0px #1b446d,

             0px 7px 0px #1b446d,

             2px 7px 3px rgba(0,0,0,0.3),

             0px 1px 0px rgba(255,255,255,0.5) inset,

             0px -1px 0px rgba(255,255,255,0.2) inset;

}

a#button:hover {

  background:-moz-linear-gradient(rgba(119,170,221,0.9), rgba(34,85,136,0.9));

  background:-webkit-gradient(linear, 100% 100%, 100% 0%, from(rgba(34,85,136,0.9)), to(rgba(119,170,221,0.9)));

  box-shadow:0px 1px 0px #225588,

             0px 2px 0px #225588,

             0px 3px 0px #225588,

             0px 4px 0px #225588,

             0px 5px 0px #225588,

             0px 6px 0px #225588,

             0px 7px 0px #225588,

             2px 7px 3px rgba(0,0,0,0.3),

             0px 1px 0px rgba(255,255,255,0.5) inset,

             0px -1px 0px rgba(255,255,255,0.2) inset;

}





#button2 {

  width:250px;

	float: left;

  color:#e4eef8;

  background:#ff6600;

  font-size:20px;

  font-weight:bold;

  text-shadow:0 -1px 1px #143352;

  text-align:center;

  display:block;

  text-decoration:none;

  border:1px solid #ff6666;

  padding:12px 0 8px 0;

  border-radius:12px;

  background:-moz-linear-gradient(rgba(255,102,0,0.5), rgba(255,102,0,1));

  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(255,255,140,0.9)), to(rgba(255,102,0,0.9)));  background:-moz-linear-gradient(rgba(255,102,0,0.9), rgba(255,133,0,0.9));

	  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(255,204,102,0.5)), to(rgba(255,102,0,1)));



		/*background:-moz-linear-gradient(rgba(255,255,140,0.9), rgba(255,102,0,0.9));
	*/
	  /*background:-webkit-gradient(linear, 100% 100%, 100% 0%, from(rgba(255,102,0,0.9)), to(rgba(255,133,0,0.9)));*/




		/*background:-moz-linear-gradient(rgba(255,204,102,0.5), rgba(255,102,0,1));

	  background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(255,204,102,0.5)), to(rgba(255,102,0,1)));*/


  box-shadow:0px 1px 0px #ff3300,

             0px 2px 0px #ff3300,

             0px 3px 0px #ff3300,

             0px 4px 0px #ff3300,

             0px 5px 0px #ff3300,

             0px 6px 0px #ff3300,

             0px 7px 0px #ff3300,

             2px 7px 3px rgba(0,0,0,0.3),

             0px 1px 0px rgba(255,255,255,0.5) inset,

             0px -1px 0px rgba(255,255,255,0.2) inset;

}

a#button2:hover {

  background:-moz-linear-gradient(rgba(255,204,102,0.5), rgba(255,102,0,1));

  background:-webkit-gradient(linear, 100% 100%, 100% 0%, from(rgba(255,204,102,0.5)), to(rgba(255,102,0,1)));

  box-shadow:0px 1px 0px #ff4330,

             0px 2px 0px #ff4330,

             0px 3px 0px #ff4330,

             0px 4px 0px #ff4330,

             0px 5px 0px #ff4330,

             0px 6px 0px #ff4330,

             0px 7px 0px #ff4330,

             2px 7px 3px rgba(0,0,0,0.3),

             0px 1px 0px rgba(255,255,255,0.5) inset,

             0px -1px 0px rgba(255,255,255,0.2) inset;

}
